﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF8" />

    <title>Чат на AJAX и jQuery </title>

</head>
<body>
    <div id ="Username"></div>
    <div id ="LastRefresh"></div>
    <div id ="container">
        <div id ="loginBlock">
            Введите имя :
            <input type ="text" id ="txtUserName" />
            <button id="btnLogin" value="Войти">Войти</button>
        </div>
    </div>
    <div id ="Error"></div>

    @Ajax.ActionLink("Login", "Index", new { user = "" },
        new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" },
        new { @id = "LoginButton", @style = "visibility:hidden;" })
    





    @*пример*@
   @* <h2>Index</h2>

    <textarea cols="54" rows="5" id ="ta1">тут будут сообщения</textarea>
    <br />

    <input type="text" size="40" id="txt1" />
    <input type="button" id="butt1" value="Отправить" />*@

    @*<script>*@
     /*   $(document).ready(function () {
            $('#butt1').on("click", function f1() {
                var text1 = $('#txt1').val();
                */
                //$.get("~/HomeController.cs");

                //$.get("~/HomeController.cs");

                @*$.get("~/Controllers/HomeController.cs", text1);
                alert("@ViewBag.Title");
                var title = "@ViewBag.Title";
                $('#ta1').text(title);*@
                //var model = {
                //    someText: text1
                //};
                //$.ajax({
                //    url: "/Home/Index1",
                //    data: JSON.stringify(model),
                //    type: "POST",
                //    contentType: 'application/json; charset=utf-8',
                //    dataType: 'json',
                //    processData: false,
                //    success: function (data) {
                //        $('#ta1').text(data);
                //    }
                //});


        //    });
        //});
        
    @*</script>*@
</body>
</html>





